{% extends 'Navigation.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>管理员管理</title>
    {% endblock %}
</head>
<body>
{% block contents %}

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
            管理员管理
        </div>
        <div class="panel-body">
            <div>
                <a class="btn btn-success" href="/add_admin">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    新建管理员
                </a>
            </div>
        </div>

        <!-- Table -->
        <table class="table">
            <tr>
                <th>id</th>
                <th>姓名</th>
                <th>密码</th>
                <th>重置密码</th>
                <th>操作</th>
            </tr>
            {% for item in admin_list %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.username}}</td>
                    <td>********</td>
                    <td>
                        <a class="btn btn-link btn-xs" href="/reset_admin/{{ item.id }}">重置密码</a>
                    </td>
                    <td>
                        <div>
                            <a class="btn btn-success btn-xs" href="/edit_admin/{{ item.id }}">编辑</a>

{#                            <button type="submit" class="btn btn-success btn-xs">编辑</button>#}
                            <a class="btn btn-danger btn-xs" href="/delete_admin/?id={{ item.id }}">删除</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

     <!-- 分页列表 -->
    <ul class="pagination">
        {{ page_string }}
    </ul>

{% endblock %}
</body>
</html>