{% extends 'Navigation.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>部门管理</title>
    {% endblock %}
</head>
<body>
{% block contents %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
            部门管理
        </div>
        <div class="panel-body">
            <div>
                <a class="btn btn-success" href="/add_depart">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    新建部门
                </a>
            </div>
        </div>

        <!-- Table -->
        <table class="table">
            <tr>
                <th>id</th>
                <th>部门名称</th>
                <th>操作</th>
            </tr>
            {% for item in depart_list %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td>
                        <div>
                            <a class="btn btn-success btn-xs" href="/edit_depart/{{ item.id }}/">编辑</a>

                            <a class="btn btn-danger btn-xs" href="/delete_depart/?id={{ item.id }}">删除</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
</body>
</html>